<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.luiseduardobrito.angelhack"
    android:versionCode="1"
    android:versionName="0.0.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="io.github.luiseduardobrito.angelhack.App_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.MainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.LoginActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.ProfileActivity"
            android:label="@string/app_name"
            android:parentActivityName="io.github.luiseduardobrito.angelhack.activity.MainActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.luiseduardobrito.angelhack.activity.MainActivity_" />
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.CreateCompanyActivity_"
            android:parentActivityName="io.github.luiseduardobrito.angelhack.activity.MainActivity_"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.luiseduardobrito.angelhack.activity.MainActivity_" />
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.ChooseCompanyActivity_"
            android:label="@string/title_activity_choose_company"
            android:parentActivityName="io.github.luiseduardobrito.angelhack.activity.MainActivity_"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.luiseduardobrito.angelhack.activity.MainActivity_" />
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.CreateEventActivity_"
            android:label="@string/title_activity_create_event"
            android:parentActivityName="io.github.luiseduardobrito.angelhack.activity.MainActivity_"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.luiseduardobrito.angelhack.activity.MainActivity_" />
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.InviteEventActivity_"
            android:label="@string/title_activity_invite_event"
            android:parentActivityName="io.github.luiseduardobrito.angelhack.activity.MainActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.luiseduardobrito.angelhack.activity.MainActivity_" />
        </activity>
        <activity
            android:name="io.github.luiseduardobrito.angelhack.activity.EventProfileActivity_"
            android:label="@string/title_activity_event_profile"
            android:parentActivityName="io.github.luiseduardobrito.angelhack.activity.MainActivity_" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.github.luiseduardobrito.angelhack.activity.MainActivity_" />
        </activity>
    </application>

</manifest>